@model Spark.Models.Suggestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Suggestion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SparkID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SparkID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentSuggestionID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentSuggestionID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpvoteCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpvoteCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
